node_modules/
build/
tsconfig.json
tslint.json
.idea
.vscode
/coverage
coverageEnv/
coverage.json
/.node*
.env
full-ganache-db/
ganache-db/
kyber_db/
resources/**/
.DS_Store
resources/.DS_Store
/db
package-lock.json